.forcast__main {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  margin: 1rem;
}
.card__one,
.card__two,
.card__three,
.card__four,
.card__five {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 20%;
  height: 40%;
  margin: 1rem;
}
